{% extends 'base/base.html' %}

{% block body %}
   
    
    {% for qz in quiz %}
        <div class="card">
            <h5 class="card-header">{{qz.title}}</h5>
            <div class="card-body">
                <h5 class="card-title">Question:{{qz.questions.count}}</h5>
                <p class="card-text">{{qz.description}}.</p>
                <a href="{% url 'exam' qz.id %}" class="btn btn-primary">Start Exam</a>
            </div>
        </div>
    {% endfor %}
        

{% endblock body %}
    